.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 736px;
  height: 287px;
  left: calc(50% - 736px / 2);
  top: 291px;
  color: var(--gray-300);

  .header {
    width: 736px;
    height: 19px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;

    p {
      max-width: 140px;
      height: 19px;

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    p:first-child {
      color: var(--blue-500);
      font-weight: bold;
    }
  }

  .mainCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;

    width: 736px;
    height: 244px;

    /* Grey 400 */

    border-top: 1px solid #333333;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    strong {
      margin-top: 1rem;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.4;
    }

    small {
      font-size: 1rem;
    }
  }
}
