@import url(./_variables.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-900);
}

body {
  background-color: var(--gray-600);
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a,
a:hover {
  text-decoration: none;
  color: var(--purple-900);
  font-weight: bold;
}
